/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Press Start 2P', cursive;
    background-color: #000;
    color: #fff;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  p {
    text-align: center;
    margin: 20px;
  }

  h1, h2, h3 {
    text-align: center;
    padding: 30px;
  }
  
  a {
    color: #4caf50;
  }
  
  a:hover {
    color: #8bc34a;
  }
  
  /* Style for buttons */
  .button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    text-decoration: none;
    color: #fff;
    background-color: #4caf50;
    border: 2px solid #4caf50;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
  }
  
  .button:hover {
    background-color: #4caf50;
  }
  
  /* Style for the header */
  header {
    text-align: center;
    padding: 20px 0;
    background-color: #435bf4; /* Set your desired header color */
    color: #000; /* Set the text color for the header */
  }
  
  /* Style for the main content */
  main {
    padding: 20px 0;
    background-color: #000; /* Set your desired background color for the main content */
    color: #fff; /* Set the text color for the main content */
    text-align: center;
  }
  
  /* Style for the footer */
  footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: #fff;
  }
  
  /* Responsive layout */
  @media (max-width: 600px) {
    .container {
      padding: 10px;
    }
  }

  ul {
    list-style: none;
    text-align: center;
  }
  
  ul li {
    display: inline-block;
    margin: 0 10px;
  }

  input[type="submit"] {
    background-color: #33ff00;
    color: #000;
    font-size: 16px;
    padding: 10px 20px;
    border: 2px solid #4caf50;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Press Start 2P', cursive;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  }
  
  input[type="submit"]:hover {
    background-color: #4caf50;
    color: #000;
  }

  form {
    text-align: center;
    margin: 20px;
  }
  .maze-small-container {
    display: grid;
    grid-template-columns: repeat(31, minmax(21px, 1fr));
    grid-gap: 0;
}

.maze-medium-container {
    display: grid;
    grid-template-columns: repeat(65, minmax(10px, 1fr));
    grid-gap: 0;
}

.maze-large-container {
    display: grid;
    grid-template-columns: repeat(81, minmax(8px, 1fr));
    grid-gap: 0;
}

.maze-small-cell {
    height: 21px;
    /* Adjust the height based on your preference */
    box-sizing: border-box;
    text-align: center;
    font-size: 0;
}

.maze-medium-cell {
    height: 10px;
    /* Adjust the height based on your preference */
    box-sizing: border-box;
    text-align: center;
    font-size: 0;
}

.maze-large-cell {
    height: 8px;
    /* Adjust the height based on your preference */
    box-sizing: border-box;
    text-align: center;
    font-size: 0;
}

.wall {
    background-color: #222;
}

.path {
    background-color: #ffffff;
}

.user {
    background-color: #33ff00;
}

.exit {
    background-color: #660000;
}

.navbar {
  display: flex;
  align-items: flex-start; /* Align items to the top */
  margin-bottom: 20px; /* Add margin below the navbar for spacing */
}

.user-info,
.auth-links {
  display: flex; /* Use flexbox to align items horizontally */
  align-items: center; /* Center items vertically */
}

.auth-links a {
  color: #8bc34a;
  text-decoration: none;
  margin: 0 10px;
  transition: color 0.3s ease-in-out;
}

.auth-links a:hover {
  color: #4caf50;
}

.divider {
  color: #8bc34a;
}

form {
  text-align: center;
}

form label {
  color: #8bc34a;
}

form input[type="text"],
form input[type="password"] {
  padding: 10px;
  margin: 5px;
  border: 2px solid #8bc34a;
  border-radius: 5px;
  background-color: #000;
  color: #fff;
}

form input[type="text"]:focus,
form input[type="password"]:focus {
  outline: none;
  border-color: #4caf50;
}
