<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap">
    <link rel="stylesheet" href="/static/styles.css"> 
    <title>Create Account</title>
</head>
<body>
    <h1>Create Account</h1>
    <form method="post" action="/create_account">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <button type="submit" class="button">Create Account</button>
    </form>
    {% if error_message %}
        <p>{{ error_message }}</p>
    {% endif %}
</body>
</html>
