<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap">
    <link rel="stylesheet" href="/static/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Levels</title>
</head>
<script>
    console.log("loaded page")
</script>
<body>
    <h1>Welcome to the Maze!</h1>
    <p>Please choose a difficulty:</p>
        <form action="/play" method="post">
        <input type="submit" name="difficulty" value="small">
        <input type="submit" name="difficulty" value="medium">
        <input type="submit" name="difficulty" value="large">
    </form>
    
</body>
</html>