<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OAC Mazes</title>
    <!-- Link to the external CSS file -->
    <script
    src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
    crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap">
    <link href="/static/styles.css" rel="stylesheet">
</head>

<body>
    <!-- Rest of your HTML content -->
    <div class="container">


        <!-- Table and Maze -->
        <table class="info-table">
            <tr>
                <td class="stats">Time:</td>
                <td><span id="timer">00:00:000</span></td>
            </tr>
            <tr>
                <td class="stats">Moves:</td>
                <td><span id="moves">0</td>
            </tr>
        </table>

        <div id="maze-small-container" class="maze-small-container">
            {% for row in maze %}
            {% for cell in row %}
            {% if cell == '#' %}
            <div class="maze-small-cell wall">{{ cell }}</div>
            {% elif cell == 'O' %}
            <div class="maze-small-cell path user">{{ cell }}</div>
            {% elif cell == 'X' %}
            <div class="maze-small-cell path exit">{{ cell }}</div>
            {% else %}
            <div class="maze-small-cell path">{{ cell }}</div>
            {% endif %}
            {% endfor %}
            {% endfor %}
        </div>
    </div>

    <script src="{{ url_for('static', filename='mazeSmall.js') }}"></script>
</body>

</html>
