<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OAC Mazes</title>
    <!-- Link to the external CSS file -->
    <script
    src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
    crossorigin="anonymous"></script>
    <link href="/static/styles.css" rel="stylesheet">
</head>

<body>
    <!-- Rest of your HTML content -->
    <div class="container">


        <!-- Table and Maze -->
        <table class="info-table">
            <tr>
                <td>Time:</td>
                <td><span id="timer">00:00:000</span></td>
            </tr>
            <tr>
                <td>Moves:</td>
                <td id="moves">num_of_moves</td>
            </tr>
        </table>

        <div id="maze-large-container" class="maze-large-container">
            {% for row in maze %}
            {% for cell in row %}
            {% if cell == '#' %}
            <div class="maze-large-cell wall">{{ cell }}</div>
            {% elif cell == 'O' %}
            <div class="maze-large-cell user">{{ cell }}</div>
            {% elif cell == 'X' %}
            <div class="maze-large-cell exit">{{ cell }}</div>
            {% else %}
            <div class="maze-large-cell path">{{ cell }}</div>
            {% endif %}
            {% endfor %}
            {% endfor %}
        </div>
    </div>

    <script src="{{ url_for('static', filename='mazeStats.js') }}"></script>
    <script src="{{ url_for('static', filename='movementLarge.js') }}"></script>
</body>

</html>
